#Python Cache
__pycache__/
.pytest_cache/

#Packaging
*.egg-info/
pip-wheel-metadata/

#ipynb related
.ipynb_checkpoints/

#IDE file
.vscode
.idea
*.iml

#UNIX file
.directory

# Pre trained model and tokenizer file location
insincere_question_classification/models